<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
          <!-- Basic table card start -->
          <div class="card">
            <div class="card-header">
              <h5>Expenses List</h5>

            </div>
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Food</td>
                    <td>$1000</td>
                    <td>
                      <i class="fa fa-edit fa-1x"  style="color: #fff; background: darkgreen; padding: 5px; border: 5px solid lightgreen;"></i>
                      <i class="fa fa-trash fa-1x"  style="color: #fff; background: darkred; padding: 5px; border: 5px solid red;"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Food</td>
                    <td>$1000</td>
                    <td>
                      <i class="fa fa-edit fa-1x"  style="color: #fff; background: darkgreen; padding: 5px; border: 5px solid lightgreen;"></i>
                      <i class="fa fa-trash fa-1x"  style="color: #fff; background: darkred; padding: 5px; border: 5px solid red;"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Food</td>
                    <td>$1000</td>
                    <td>
                      <i class="fa fa-edit fa-1x"  style="color: #fff; background: darkgreen; padding: 5px; border: 5px solid lightgreen;"></i>
                      <i class="fa fa-trash fa-1x"  style="color: #fff; background: darkred; padding: 5px; border: 5px solid red;"></i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Basic table card end -->
        </div>
      </div>
    </div>
    <div id="styleSelector">

    </div>
  </div>
</div>
