<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">

    <nav class="navbar header-navbar pcoded-header">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a routerLink="dashboard/index" class="font-weight-bold">
           Expense Tracker
          </a>
        </div>

        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li>
              <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
            </li>
          </ul>
          <ul class="nav-right">


            <li class="user-profile header-notification">
              <a href="/">
                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                <span>John Doe</span>
                <i class="ti-angle-down"></i>
              </a>
              <ul class="show-notification profile-notification">
                <li>
                  <a href="#">
                    <i class="ti-user"></i> Profile
                  </a>
                </li>
                <li>
                  <a href="auth-normal-sign-in.html">
                    <i class="ti-layout-sidebar-left"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
          <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu">

            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Layout</div>
            <ul class="pcoded-item pcoded-left-item">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="dashboard/index">
                  <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>

              <li routerLinkActive="active" class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Pages</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                  <li routerLinkActive="active">
                    <a routerLink="add-expenses">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Add Expense</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="edit-expenses/1">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Edit Expense</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="expenses-list">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Expense List</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
